<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>

<form th:action="@{/books/edit}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}"/>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}"/>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>

    <div>
        <label>Author:</label>
        <input type="text" th:field="*{author}"/>
        <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    </div>

    <div>
        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}"/>
        <div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
    </div>

    <div>
        <label>Published Date:</label>
        <input type="date" th:field="*{publishedDate}"/>
        <div th:if="${#fields.hasErrors('publishedDate')}" th:errors="*{publishedDate}"></div>
    </div>

    <button type="submit">Update</button>
</form>

<br>
<a th:href="@{/templates/books}">Back to list</a>

</body>
</html>